.App {
	background-color: #2E9CCA;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.Container {
	background-color: #FFFFFF;
  position:absolute;
  top:70px;
  right:0px;
  bottom:0px;
  left:0px;
	margin-left: 4vw;
	margin-right: 4vw;
	padding-left: 4vw;
	padding-right: 4vw;
	padding-top: 30px;
}

h2 {
	font-size: 4em;
	color: #1A1A1A;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 10px;
}