.App {
	background-color: #2E9CCA;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.Container {
	background-color: #FFFFFF;
  position:absolute;
  top:70px;
  right:0px;
  bottom:0px;
  left:0px;
	margin-left: 3vw;
	margin-right: 3vw;
}